rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Only the Global Admin can read or manage all leads
    match /leads/{leadId} {
      allow create: if true;
      allow read, update, delete: if request.auth != null && request.auth.uid == "Djh7uHK2yZYHC4Ta4xhbguaCJVl1";
    }
    
    // Allow public to read the morning market summaries from Andy
    match /marketUpdates/{document} {
      allow read: if true;
      allow write: if false;
    }
  }
}
